@import '../scss/abstracts/mixins';

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 3vw 1fr 2vw;
    grid-template-columns: 1fr;

    @include respond(tab-port) {
        grid-template-rows: 4vw 1fr 5vw;
    }

    @include respond(phone) {
        grid-template-rows: 8vw 1fr 5vw;
    }

    @media only screen and (max-width: 18.75em) {
        grid-template-rows: 8vw 1fr 8vw;
    }
}